@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@*<div style="background-color: #A52A2A; color: White; height: 50px;">
</div>
<div style="background-color: White; color: orange; height: 170px;">
    <div style=" padding:20px;">
        <h3>
            Application Error:
        </h3>
        <h4>
            Lo sentimos se ha presentado el siguiente error. 
        </h4>
        <h4>@Model.Exception.Message</h4>
        <h6>@Html.ActionLink("Retornar a la Pagina de consultas", "Descargas", "Home")</h6>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 50px;">
</div>*@  


<div class="container px-5">

    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-transparent text-white rounded-3 mb-3"><img src="~/Content/Img/Logo.png" width="100%" height="100%" /></div>
            <h1 class="fw-bolder">@ViewBag.Title</h1>
            <p class="lead fw-normal text-muted mb-0">Lo sentimos se ha presentado un inconveniente</p>
        </div>
        <div class="card text-center">
            <div class="card-header">
                @ViewBag.Title
            </div>
            <div class="card-body">
                <h5 class="card-title">Descripción</h5>
                <p class="card-text"><span class="badge rounded-pill bg-danger">@Model.Exception.Message</span></p>
                <a href="@Url.Action("Descargas", "Home")" class="btn btn-primary">Retornar a Descargas</a>
            </div>
            <div class="card-footer text-muted">
                <p class="card-text">Generado @DateTime.Now</p>
            </div>
        </div>


    </div>
</div>